{%extends 'base.html' %}
{% block title %}
    用户列表
{% endblock %}
{% block right %}
<div class="col-md-9">
    <div class="panel panel-primary">
        <div class="panel-heading">
        <h2 class="panel-title">用户列表</h2>
    </div>
    <div class="panel-body">
        <table class="table table-hover table-bordered table-striped">
            <tr>
                <td>文章标识</td>
                <td>文章标题</td>
                <td>文章内容</td>
                <td>作者</td>
                <td>发表时间</td>
                <td>点击量</td>
                <td>操作</td>
            </tr>
            {% for article in articles %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{% url 'blog:article_detail' article.id %}">{{ article.title | truncatechars:10 }}</a></td>
                <td>{{ article.content | truncatechars:15 }}</td>
                <td>{{ article.author }}</td>
                <td>{{ article.publish_time }}</td>
                <td>{{ article.count }}</td>
                <td>
                    <a onclick="return window.confirm('您确定要删除该文章吗？');" href="{% url 'blog:article_delete' article.id%}" class="btn btn-danger">删除</a>
                    <a href="{% url 'blog:article_update' article.id %}" class="btn btn-warning" >修改</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">对不起，当前没有文章， <a href="{% url 'blog:article_add' }">请添加文章</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    </div>
</div>
{% endblock %}